@model Donators.ViewModels.DonatorViewModel

@using PagedList.Mvc;
@using PagedList;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RCKiK Website</title>
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="~/Content/js/Chart.js"></script>
    <link href="~/Content/css/freelancer.min.css" rel="stylesheet">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">

        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                backgroundColor: "#2c3e50",
                theme: "dark1",
                legend: {
                    fontColor: "red",
                },
                animationEnabled: true,
                title: {
                    text: "Ilość krwii danego typu w RCKiK",
                    fontColor: "white",
                    fontFamily: "tahoma"
                },
                subtitles: [
                    {
                        text: "Wartości podane w [ml]",
                        fontFamily: "tahoma"
                    }
                ],
                data: [
                    {
                        type: "column",
                        dataPoints: @Html.Raw(ViewBag.DataPoints)
                    }
                ]
            });
            chart.render();
        };
    </script>

</head>


<body id="page-top">
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><text style="color:red">Centrum</text> Krwiodawstwa <img class="img-fluid" src="~/Content/img/portfolio/bloodbank_logo.png" alt=""> </a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#informacje">Informacje</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#statystyki">Statystyki</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#krwiodawcy">Krwiodawcy</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/Donators/Management" style="color:gold">Management</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead bg-secondary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <img class="masthead-avatar mb-5" src="~/Content/img/avataaars.svg" alt="">
            <h1 class="masthead-heading text-uppercase mb-0">Krwiodawstwo</h1>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i style="color:red" class="fas fa-burn"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <p class="masthead-subheading font-weight-light mb-0"><i>Twoja krew darem życia...</i></p>
        </div>
    </header>

    <section class="page-section text-secondary mb-0" id="informacje">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase">Informacje</h2>
            <div class="divider-custom divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i style="color:green" class="fas fa-book-open"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">
                        W Centrum Krwiodawstwa możesz oddać:<ul class="lead">
                            <li class="lead">krew pełną (450 ml ): co 8 tygodni (kobiety 4 razy, mężczyźni 6 razy w ciągu roku ); pobieranie krwi pełnej trwa średnio od  6 do 10 minut</li>
                        </ul>
                    </p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">
                        Twój organizm odtworzy bardzo szybko białka osocza i komórki krwi. 450 ml krwi stanowi jedynie 8-9%  ogólnej objętości krwi krążącej dorosłego człowieka.
                        W Polsce rocznie oddaje krew lub osocze ok. 500 000 osób. Wiele z nich wielokrotnie ratuje zdrowie i życie innym!
                    </p>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-dark" href="http://www.rckik.radom.pl/wp-content/uploads/2014/07/KWESTIONARIUSZ-2018.pdf">
                    <i class="fas fa-download mr-2"></i>
                    Pobierz kwestionariusz!
                </a>
            </div>
        </div>
    </section>

    <section class="page-section text-white bg-secondary mb-0" id="statystyki">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase">Statystyki</h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i style="color:royalblue" class="fas fa-chart-line"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            </div>
        </div>
    </section>

    <section class="page-section bg-white" id="krwiodawcy">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Lista krwiodawców</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i style="color:gold" class="fas fa-trophy"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.Pesel)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.Place)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.DonationDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.BloodType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.BloodAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.BloodFactor)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.PagedDonors)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pesel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Place)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DonationDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BloodType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BloodAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BloodFactor)
                                </td>
                            </tr>
                        }

                    </table>
                    <div class="pagination" style="display:block; float: right">
                        Page @(Model.PagedDonors.PageCount < Model.PagedDonors.PageNumber ? 0 : Model.PagedDonors.PageNumber)
                        of @Model.PagedDonors.PageCount   @Html.PagedListPager(Model.PagedDonors, page => Url.Action("Index", new { page }))
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Lokalizacja</h4>
                    <p class="lead mb-0">
                        Akademia Techniczno-Humanistyczna
                        Willowa 2
                        <br>43-300 Bielsko-Biała
                    </p>
                </div>

                <div class="col-lg-4">
                </div>

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">RCKiK w mediach</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                        <i class="fab fa-fw fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                        <i class="fab fa-fw fa-twitter"></i>
                    </a>
                </div>

            </div>
        </div>
    </footer>
    <section class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; Blood Donation ASP.NET</small>
        </div>
    </section>
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/js/jqBootstrapValidation.js"></script>
    <script src="~/Content/js/contact_me.js"></script>
    <script src="~/Content/js/freelancer.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>
</html>
