@model Donators.ViewModels.DonatorViewModel

@using PagedList.Mvc;
@using PagedList;


<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RCKiK Website</title>
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="~/Content/css/freelancer.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><text style="color:red">Centrum</text> Zarządzania <img class="img-fluid" src="~/Content/img/portfolio/bloodbank_logo.png" alt=""> </a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#addFile">Plik CSV</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#statystyki">Dodanie krwiodawcy</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#krwiodawcy">Błędne dane</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/Donators/Index" style="color:gold">System</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="page-section text-secondary mb-0" style="margin: 50px 0px 0px 0px" id="addFile">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase">Dodanie pliku .CSV</h2>
            <div class="divider-custom divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto" style="margin:0 auto;">

                    <form action="Management" enctype="multipart/form-data" method="post">

                        <div class="input-container">
                            <input type="file" name="uploadedFile" id="real-input">
                            <button name="uploadedFile" type="button" class="browse-btn">
                                Przeglądaj pliki
                            </button>
                            <span class="file-info">Dodaj plik .CVS</span>
                        </div>
                        <input style="display:block; margin:0 auto;" type="submit" value="Dodaj" class="btn btn-danger" />
                    </form>

                </div>
            </div>
        </div>
    </section>
    <hr />
    <section class="page-section bg-white" id="krwiodawcy">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Błędne dane</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.Pesel)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.Place)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.DonationDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.BloodType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.BloodAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.donatorModel.BloodFactor)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.Donators)
                        {
                            <tr>
                                <td>
                                    @Html.Raw(item.FirstName)
                                </td>
                                <td>
                                    @Html.Raw(item.LastName)
                                </td>
                                <td>
                                    @Html.Raw(item.Pesel)
                                </td>
                                <td>
                                    @Html.Raw(item.Place)
                                </td>
                                <td>
                                    @Html.Raw(item.DonationDate)
                                </td>
                                <td>
                                    @Html.Raw(item.BloodType)
                                </td>
                                <td>
                                    @Html.Raw(item.BloodAmount)
                                </td>
                                <td>
                                    @Html.Raw(item.BloodFactor)
                                </td>
                            </tr>
                        }

                    </table>
                    <div class="pagination" style="display:block; float: right">
                        Page @(Model.PagedWrongDonors.PageCount < Model.PagedWrongDonors.PageNumber ? 0 : Model.PagedWrongDonors.PageNumber)
                        of @Model.PagedWrongDonors.PageCount   @Html.PagedListPager(Model.PagedWrongDonors, page => Url.Action("Management", new { page }))
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Lokalizacja</h4>
                    <p class="lead mb-0">
                        Akademia Techniczno-Humanistyczna
                        Willowa 2
                        <br>43-300 Bielsko-Biała
                    </p>
                </div>

                <div class="col-lg-4">
                </div>

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">RCKiK w mediach</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                        <i class="fab fa-fw fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                        <i class="fab fa-fw fa-twitter"></i>
                    </a>
                </div>

            </div>
        </div>
    </footer>
    <section class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; Blood Donation ASP.NET</small>
        </div>
    </section>
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/js/jqBootstrapValidation.js"></script>
    <script src="~/Content/js/contact_me.js"></script>
    <script src="~/Content/js/freelancer.min.js"></script>
</body>
</html>


<script src="~/Content/js/BloodSite.js"></script>
